
<div class="users-new-wrapper text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-4　col-md-4　users-new-container">
        <h1 class="text-white">入場手続き</h1>
      </div>
    </div>
  </div>
</div>