
.top{
  width: 100vw;
  height: 100vh;
  background-image: url(top-bg.jpg);
}



//new_user

users-new-wrapper{
  width:100vw;
  height: 100vh;
  background-image: image-url('new-user.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}

.text-center{
  text-align:center;
}

h1{
  padding:270px;
  font-weight:100;
  font-size:40px;
}

.text-white{
  color: #fff;
}