
.users-new-wrapper{
  width:100vw;
  height: 100vh;
  background-image: image-url('new-user.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  
  .users-new-container{
    padding-top:220px;
    text-align:center;
  }
}